<div class="w-100">
  <div class="row mt-3">
    <div class="col-md-3 col-12">
      <div class="card-box br">
        <div class="wrapper">
           <div class="image animate"></div>
           <div class="comment animate"></div>
           <div class="comment animate"></div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-12">
      <div class="card-box br">
        <div class="wrapper">
           <div class="image animate"></div>
           <div class="comment animate"></div>
           <div class="comment animate"></div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-12">
      <div class="card-box br">
        <div class="wrapper">
           <div class="image animate"></div>
           <div class="comment animate"></div>
           <div class="comment animate"></div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-12">
      <div class="card-box br">
        <div class="wrapper">
           <div class="image animate"></div>
           <div class="comment animate"></div>
           <div class="comment animate"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-3 col-12">
      <div class="card-box br">
        <div class="wrapper">
           <div class="image animate"></div>
           <div class="comment animate"></div>
           <div class="comment animate"></div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-12">
      <div class="card-box br">
        <div class="wrapper">
           <div class="image animate"></div>
           <div class="comment animate"></div>
           <div class="comment animate"></div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-12">
      <div class="card-box br">
        <div class="wrapper">
           <div class="image animate"></div>
           <div class="comment animate"></div>
           <div class="comment animate"></div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-12">
      <div class="card-box br">
        <div class="wrapper">
           <div class="image animate"></div>
           <div class="comment animate"></div>
           <div class="comment animate"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-3 col-12">
      <div class="card-box br">
        <div class="wrapper">
           <div class="image animate"></div>
           <div class="comment animate"></div>
           <div class="comment animate"></div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-12">
      <div class="card-box br">
        <div class="wrapper">
           <div class="image animate"></div>
           <div class="comment animate"></div>
           <div class="comment animate"></div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-12">
      <div class="card-box br">
        <div class="wrapper">
           <div class="image animate"></div>
           <div class="comment animate"></div>
           <div class="comment animate"></div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-12">
      <div class="card-box br">
        <div class="wrapper">
           <div class="image animate"></div>
           <div class="comment animate"></div>
           <div class="comment animate"></div>
        </div>
      </div>
    </div>
  </div>
</div>
